@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Domine:wght@400..700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg: #192231;
    --color-1:aliceblue;
    --color-2: #6082B6;
    --color-3: #4d536a;
    --color-4: lightblue;
    --color-5:  #2582e0;
    --color-6: #fad20c;
    --hover1: linear-gradient(to right, aliceblue, lightblue, #6082B6, #5c6b9c);
    --hover2: linear-gradient(to right, #f9efbe, #fae36e,  #fad20c);
    --box-shadow1: 5px 5px 5px var(--color-6), -5px 5px 5px var(--color-6), 5px -5px 5px var(--color-6), -5px -5px 5px var(--color-6);
    --box-shadow2: 5px 5px 10px black, -5px -5px 10px black;
    --box-shadow3: 5px 5px 10px #6082B6, -5px -5px 10px #6082B6;
}

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif";
}

html{
    scroll-behavior: smooth;
    /* font-size: calc(60% + 0.8vmin); */
}

body{
    background: var(--bg);
    color: white;
}

/* HEADER AND NAVIGATION */

header nav{
    position: fixed;
    height: 15vh;
    width: 100%;
    margin: 0;
    padding-left: 5%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    z-index: 1;
}


header #jsg-project{
    position: sticky;
    float: left;
    border-radius: 0%;
    width: 300px;
    height: 175px; 
}

#nav-pic{
    border-right: 10%;
    padding-right: 5rem;
}


header ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    padding-right: 10%;
}

header a{
    display: block;
    color: white;
    text-decoration: none;
    
    border-radius: .2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 4px solid var(--color-3);

    overflow: hidden;
    position: relative;
}

header a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    border-radius: .1rem;
    z-index: -1;

    
    transition: .2s ease-in;
    transform: translateX(-101%);
    background: var(--hover1);
}

header a:hover::before{
    transform: translateX(0);
}

header a:hover{
    color: black;
    border-bottom: 4px solid var(--color-6);
}

#btn{
    all: unset;
    cursor: pointer;
    transition: .5s ease-out;

    display: none;
}

#btn:hover{
    transform: rotate(180deg);
    color: var(--color-1);
}

/* MAIN BODY  */

#home, #about, #contact{
    border-top: 10%;
    border-bottom: 10%;
    padding-top: 10%;
    min-height: 100vh;
}
/* HOME SECTION  */
#home{
    padding-top: 0;
}
.home-container{
    min-height: 100vh;
    width: 100vw;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

img{
    width: 350px;
    border-radius: 50%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 40%;
}

.subtitle{
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.title span{
    font-weight: 700;
    color: var(--color-6);
}


.description{
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: #dfdfdf;
}

.buttons{
    display: flex;
    gap: 2rem;
}

.buttons button, .buttons a{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    
    padding: .8rem 1.6rem;
    outline: none; border: none;
    border-radius: 10px;
    transition: .3s ease-out;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4);  
}

.buttons button:hover, .buttons a:hover{
    transform: scale(1.1);
    background-color: var(--color-3);
}

.buttons a{
    text-decoration: none;
    background-color: var(--color-3);
    color: var(--color-6);
}
.buttons #dl-cv{
    background-color: var(--color-3);
    color: var(--color-1);
}
.buttons #dl-cv:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}
.buttons #contact-info:hover{
    background-color: var(--color-1);
    color: var(--color-2);
}



/* ABOUT SECTION  */

#about{
    min-height: 100vh;
    width: 100vw;
    padding-top: 10%;
}

#about::before{
    content: '';
    transition: .2s ease-in;
    transform: translateX(-101%);
}
.about-header{
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: var(--color-6);
    letter-spacing: 4px;
    text-shadow: 10px 10px 10px black;
    font-size: 22px;
}

.about-box{
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.bdescript{
    height: 50%;
    width: 45%;
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 5px 5px 10px #6082B6, -5px -5px 10px #6082B6;
    padding: 2rem;
    margin-left: 4rem;
    justify-content: center;
    align-content: center;
}

.bdescript h3{
    padding-bottom: 1rem;
    font-size:x-large;
    font-weight: 700;
    color: var(--color-5);
}

.about-list-box{
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 4rem;
}

.about-list a{
    width: 6vw;
    height: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    gap: 2.5rem;
}


#about-link{ 
    min-height: 8vh;
    min-width: 25vw;
    display: flex;
    text-decoration: none;
    background-color: var(--color-3);
    color: var(--color-6);
    border-radius: 50px;
    border: 2px solid var(--color-4);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.3s ease-out;
}

#about-link:hover{
    transform: scale(1.1);
    background-color: var(--color-1);
    color: var(--color-2);
}

#skills h3, #education h3, #experience h3, #projects h3{
    width: 350px;
    padding: 2rem;
    font-size: large;
    color: var(--color-6);
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    border: 1px solid var(--color-3);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: var(--box-shadow1);
}


/* ABOUT SECTION INNER BOX*/

#about-inner-box{
    min-height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
}


/* SKILLS & QUALIFICATIONS CONTAINER */

#skills{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    border-top: 10%;
    border-bottom: 10%;
    justify-content: center;
    align-content: center;
}

.skills-details{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0;
}

.front-end, .back-end, .graphics{
    width: 300px;
    height: 400px;
    border: 1px solid var(--color-1);
    border-radius: 10px;
    box-shadow: var(--box-shadow3);
}

.front-end div, .back-end div, .graphics div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.front-end-details span, .back-end-details span, .graphics-details span{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: var(--color-2);
}

.material-symbols-outlined{
    color: var(--color-6);
}

/* EDUCATIONAL ATTAINMENT CONTAINER */

#education{
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.education-details{
    border: 1px solid var(--color-1);
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow3);

    display: flex;
    flex-direction: column;
    width: 550px; 
    justify-items: center;
    align-items: center;
    margin: auto;
}

.education-details div{
    width: 375px;
}

.education-details .college, .high-school{
    border-bottom: 2px solid white;
    padding-top: 1rem;
}

.elem{
    padding-top: 1rem;
}

.education-details p{
    padding-top: 2px;
}

.education-details .p-educ1{
    font-weight: bolder;
    letter-spacing: 3px;
}

.education-details .p-educ2,.p-educ3{
    font-size: 14px;
}

.school-icon{
    color: var(--color-2);
}



/* WORK EXPERIENCE CONTAINER */

#experience{
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.experience-details{
    border: 1px solid var(--color-1);
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow3);

    display: flex;
    flex-direction: column;
    width: 550px; 
    justify-items: center;
    align-items: center;
    margin: auto;
}

.experience-details div{
    width: 375px;
}

.exp-1, .exp-2, .exp-3 {
    border-bottom: 2px solid white;
    padding-top: 0.5rem;
    padding-bottom: 8px;
}

.exp-4{
    padding-top: 0.5rem;
    padding-bottom: 8px;
}

.experience-details p{
    padding-top: 2px;
}

.experience-details .p-exp1{
    font-weight: bolder;
    letter-spacing: 3px;
}

.experience-details .p-exp2,.p-exp3{
    font-size: 14px;
}

.p-exp3{
    font-weight: light;
    font-style: italic ;
 }

 .work-history-icon{
    color: var(--color-2);
}



/* RECENT PROJECTS CONTAINER */
#projects{
    min-height: 100%;
    width: 100%;
    padding: 2rem;
}

.project-details{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 0;
}

.proj-1, .proj-2, .proj-3{
    width: 300px;
    height: 400px;
    justify-items: center;
    align-items: center;
    border: 1px solid var(--color-1);
    border-radius: 10px;
    box-shadow: var(--box-shadow3);
}

.proj-1 div, .proj-2 div, .proj-3 div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.project-details img{
    width: 12vw;
    border: 2px solid var(--color-1);
    border-radius: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--box-shadow2);
}

.project-details p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-weight: bold;
    letter-spacing: 2px;
}

.project-details a{
    width: 150px;
    margin: auto;
    border: 2px solid var(--color-1);
    border-radius: 50px;
    padding: 1rem;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--color-3);
    color: var(--color-6);
    transition: .3s ease-out;
}

.project-details a:hover{
    transform: scale(1.1);
    background-color: var(--color-1);
    color: var(--color-2);
    border: 2px solid var(--color-1);
}

/* CONTACT CONTAINER  */
.contact-container{
    min-height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

.contact-header h2{
    width: 100vw;
    padding: 1rem;
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: var(--color-6);
    letter-spacing: 4px;
    text-shadow: 10px 10px 10px black;
    font-size: 33px;
}

.p-contact-header{
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: var(--color-1);
    text-shadow: 0 0 10px var(--color-5);
}

.contact-details{
    min-height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.contact-details-info-box{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    padding: 2rem;
    border: 1px solid var(--color-1);
    box-shadow: var(--box-shadow2);
    font-size: 14px;
}

.contact-details-info-box span{
    padding: 0.7rem;

}

#contact-icon{
    color: var(--color-2);
}

.form-contact{
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

.form-input{
    width: 400px;
    height: 125px;
    display: flex;
    flex-direction: column;
}

.form-input .input-field{
    width: 400px;
    height: 75px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 2px solid var(--color-1);
    border-radius: 4px;
}

.textarea textarea{
    width: 400px;
    height: 100px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid var(--color-1);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-bottom: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.form-btn .btn-send{
    width: 75px;
    height: 30px;
    background-color: var(--color-3);
    color: var(--color-6);
    transition: .3s ease-out;
    border-radius: 4px;
    border: 2px solid var(--color-1);
}

.btn-send:hover{
    transform: scale(1.1);
    background-color: var(--color-1);
    color: var(--color-2);
    border: 2px solid var(--color-1);
}

/* FOOTER  */
footer .top-footer, .footer-nav-bar, .footer-end, .contact-link, .footer-nav{
    padding: 15px 0px 15px 0px;
}

footer nav{
    width: 100%;
    margin: 0;
    padding: 10px 0px 10px 10px;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

footer div{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

footer .contact-link{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    gap: 1rem;
}

footer ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    justify-content: center;
    align-items: center;
}

footer a{
    color: white;
    text-decoration: none;
    
    border-radius: .2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 4px solid var(--color-3);
}

footer .contact-link a{
    border: 2px solid var(--color-1); 
    border-radius: 10px;
}

footer .contact-link a:hover{
    background-color: var(--color-1);
    color: var(--color-3);
}

footer p, h3{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    align-content: center;
}

footer h3{
    color: var(--color-6);
    letter-spacing: 2px;
}

.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0.2rem;
    margin-bottom: 5rem;
}
